html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

body {
    padding: 0;
}

header {
    height: fit-content;
}

img {
    width: 100%;
}

#weather-form {
    width: 80%;
    
    margin: auto;
    padding: 30px 10px;

    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    
    background-color: #48BF53;
    -webkit-box-shadow: 10px 10px 0px 2px rgba(17,130,59,1);
    -moz-box-shadow: 10px 10px 0px 2px rgba(17,130,59,1);
    box-shadow: 10px 10px 0px 2px rgba(17,130,59,1);
}

input, body, button {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

input[type=number] {
    border: 2px solid white;

    width: 90%;
    height: 30px;
    
    margin-top: 5px;
    margin-bottom: 20px;
    
    text-align: center;
}

input[type=submit] {
    background-color: #11823B;
    border: 2px solid #11823B;

    width: 90%;
    
    color: white;
    font-size: 1.3em;

    padding: 10px 0;
}

input[type=number]:disabled {
    border: 2px solid lightgray;
    background-color: lightgray;

    width: 90%;
    height: 30px;
    
    margin-top: 5px;
    margin-bottom: 20px;
    
    text-align: center;
}

input[type=submit]:disabled {
    background-color: #11823B;
    border: 2px solid #11823B;

    width: 90%;
    
    color: white;
    font-size: 1.3em;

    padding: 10px 0;
}

h1 {
    font-size: 1.5em;
    line-height: 1.3em;
}

.information {
    width: 90%;
    
    margin: 0 auto;
}

#activity-list {
    width: 80%;
    
    padding: 30px 0;
    margin: 0 auto;
}

.activity {
    /* border: 2px solid black; */
    

    padding: 10px;
}

button {
    background-color: #11823B;
    border: 2px solid #11823B;

    width: 100%;
    
    color: white;
    font-size: 1.2em;

    padding: 10px 10px;
}

@media only screen and (min-width: 1280px) {
    #weather-form {
        width: 50%;
    }
    
    input[type=submit] {
        cursor: pointer;
    }
    
    .information {
        width: 50%;
    }
    
    #activity-list {
        width: 50%;
    }
    
    button {
        cursor: pointer;
    }
}