html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    background-color: cadetblue;

    font-family: 'Rubik', sans-serif;
}

body {
    width: 80%;

    margin: 0 auto;
    padding: 30px;

    background-color: white;
}

.title {
    text-align: center;
}

#weather-form {
    width: fit-content;

    margin: auto;

    padding: 10px;
}

label {
    display: block;
    padding: 5px 0;
}

#prediction-btn {
    border: 2px solid black;
    background-color: white;

    width: fit-content;

    padding: 10px 40px;
    margin: 10px;

    font-family: 'Rubik', sans-serif;

    cursor: pointer;
}

#prediction-btn:hover {
    border: 2px solid black;
    background-color: cadetblue;
}

#activity-list {
    width: 100%;

    margin: auto;

    text-align: center;
}

.activity {
    border: 1px solid black;

    padding: 0 40px;
    margin: 10px 0;

    text-align: left;
}